<!-- tool bar -->
<mat-toolbar class="header">
  <span class="title">pri-ng-warehouse</span>
  <!--documentation-->
  <a class="documentation" mat-button href="https://www.npmjs.com/package/pri-ng-warehouse" target="_blank">Documentation</a>

  <div class="actions">
    <!--npm-->
    <a mat-button href="https://www.npmjs.com/package/pri-ng-warehouse" target="_blank">
      <mat-icon svgIcon="npm" inline="true" style="height: 35px; width: 35px;"></mat-icon>
    </a>
    <!--github-->
    <a mat-button href="https://github.com/Priemar/pri-ng-warehouse" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
      <span>Github</span>
    </a>
  </div>
</mat-toolbar>

<!-- main content -->
<pri-scrollbar class="content" overflowX="hidden">

  <!--info-->
  <mat-card>
    <p>
      <b>pri-ng-warehouse</b> is an angular module based on <i>localforage</i>, which allows you to simply store data in the browsers store(s).
    </p>
    <!--benefits-->
    <ul>
      <li>Simple API</li>
      <li>Same API for different storage types</li>
      <li>Storage types: <i>indexedDB, websql, localstorage, inmemory</i></li>
      <li>Fallback to supported storage type if configured storage is not available</li>
      <li>Use mutliple storages at the same time</li>
      <li>Compatible with SSR</li>
    </ul>
  </mat-card>

  <!--warehouse system infos-->
  <mat-card class="system-info">
    <mat-card-title>Warehouse system infos</mat-card-title>
    <mat-card-content *ngIf="storageService.$warehouseSystemInfo | async; let info">
      <p>IndexedDB: <mat-icon>{{ info.indexedDb ? 'check' : 'close' }}</mat-icon></p>
      <p>WebSql: <mat-icon>{{ info.webSql ? 'check' : 'close' }}</mat-icon></p>
      <p>LocalStorage: <mat-icon>{{ info.localStorage ? 'check' : 'close' }}</mat-icon></p>
      <p>IsCacheSizeAvailable: <mat-icon>{{ info.isCacheSizeAvailable ? 'check' : 'close' }}</mat-icon></p>
      <p *ngIf="info.isCacheSizeAvailable">CacheUsage: {{ info.cacheUsage | fileSize }}</p>
      <p *ngIf="info.isCacheSizeAvailable">CacheSize: {{ info.cacheSize | fileSize }}</p>
    </mat-card-content>
  </mat-card>

  <!-- default / primary store -->
  <mat-card>
    <!--title-->
    <mat-card-title>Default store</mat-card-title>
    <mat-card-subtitle>default (uses the first available store)</mat-card-subtitle>
    <!--content-->
    <mat-card-content>
      <!--add (input fields)-->
      <app-storage-add storeId="default"></app-storage-add>
      <app-storage-table storeId="default"></app-storage-table>
    </mat-card-content>
  </mat-card>

  <!-- secondary store -->
  <mat-card>
    <!--title-->
    <mat-card-title>Secondary store</mat-card-title>
    <mat-card-subtitle>localStorage</mat-card-subtitle>
    <!--content-->
    <mat-card-content>
      <!--add (input fields)-->
      <app-storage-add storeId="secondary"></app-storage-add>
      <app-storage-table storeId="secondary"></app-storage-table>
    </mat-card-content>
  </mat-card>

</pri-scrollbar>
